<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Alexey Plotnikov</h1>
    <p>
      <ngx-typed-js
       class="typed"
       [strings]="['software engineer', 'freelancer', 'java developer', 'application designer', 'father']"
       [loop]="true"
       [backDelay]="1000"
       [backSpeed]="40"
       [typeSpeed]="120">
        I'm <span class="typing"></span>
      </ngx-typed-js>
    </p>
  </div>
</section>
