<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Programming languages:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://www.oracle.com/java/" target="_blank">Java</a>
        <a href="https://kotlinlang.org/" target="_blank">Kotlin</a>
        <a href="https://groovy-lang.org/" target="_blank">Groovy</a>
        <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
        <a href="https://www.gnu.org/software/bash/" target="_blank">Bash</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Backend:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://debezium.io/" target="_blank">Debezium</a>
        <a href="https://micronaut.io/" target="_blank">Micronaut</a>
        <a href="https://spring.io/" target="_blank">Spring</a>
        <a href="https://hibernate.org/" target="_blank">Hibernate</a>
        <a href="https://www.jooq.org/" target="_blank">jOOQ</a>
        <a href="https://flywaydb.org/" target="_blank">Flyway</a>
        <a href="https://graphql.org/" target="_blank">GraphQL</a>
        <a href="https://grpc.io/" target="_blank">gRPC</a>
        <a href="https://www.elastic.co/" target="_blank">Elasticsearch</a>
        <a href="https://www.seamframework.org/" target="_blank">Seam</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Frontend:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://angular.io/" target="_blank">Angular</a>
        <a href="https://www.thymeleaf.org/" target="_blank">Thymeleaf</a>
        <a href="https://projects.eclipse.org/projects/ee4j.jsp" target="_blank">JSP</a>
        <a href="https://richfaces.jboss.org/" target="_blank">RichFaces</a>
        <a href="https://www.primefaces.org/" target="_blank">PrimeFaces</a>
        <a href="https://jquery.com/" target="_blank">jQuery</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Messaging:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://kafka.apache.org/" target="_blank">Kafka</a>
        <a href="https://www.rabbitmq.com/" target="_blank">RabbitMQ</a>
        <a href="https://activemq.apache.org/" target="_blank">ActiveMQ</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Testing:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://junit.org/" target="_blank">JUnit 5</a>
        <a href="https://spockframework.org/" target="_blank">Spock</a>
        <a href="https://site.mockito.org/" target="_blank">Mockito</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Databases:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://redis.io/" target="_blank">Redis</a>
        <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
        <a href="https://www.oracle.com/database/" target="_blank">Oracle</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Build systems:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://gradle.org/" target="_blank">Gradle</a>
        <a href="https://ant.apache.org/" target="_blank">Ant</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Web servers:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://httpd.apache.org/" target="_blank">Apache HTTP</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Application servers:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://tomcat.apache.org/" target="_blank">Tomcat</a>
        <a href="https://www.eclipse.org/jetty/" target="_blank">Jetty</a>
        <a href="https://glassfish.org/" target="_blank">GlassFish</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Automation:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://kubernetes.io/" target="_blank">Kubernetes</a>
        <a href="https://www.docker.com/" target="_blank">Docker</a>
        <a href="https://www.ansible.com/" target="_blank">Ansible</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        CI/CD:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://gitlab.com/" target="_blank">GitLab</a>
        <a href="https://www.jenkins.io/" target="_blank">Jenkins</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        OS experience:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://www.apple.com/macos/" target="_blank">macOS</a>
        <a href="https://www.centos.org/" target="_blank">CentOS</a>
        <a href="https://getfedora.org/" target="_blank">Fedora</a>
        <a href="https://ubuntu.com/" target="_blank">Ubuntu</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Cloud:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://aws.amazon.com/" target="_blank">AWS</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        IDE:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://www.jetbrains.com/idea/" target="_blank">IDEA</a>
        <a href="https://netbeans.apache.org/" target="_blank">NetBeans</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        VCS:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://git-scm.com/" target="_blank">Git</a>
        <a href="https://subversion.apache.org/" target="_blank">SVN</a>
        <a href="https://www.mercurial-scm.org/" target="_blank">Mercurial</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" sxpAnimate [animateInAnimation]="leftToRight" [animateOnce]="true">
        Other:
      </div>
      <div class="col-lg-9" sxpAnimate [animateInAnimation]="rightToLeft" [animateOnce]="true">
        <a href="https://www.graalvm.org/" target="_blank">GraalVM</a>
        <a href="https://docs.oracle.com/javase/tutorial/uiswing/" target="_blank">Swing</a>
      </div>
    </div>

  </div>
</section>
