.skills a {
  background-color: #173b6c;
  color: white;
  padding: 3px 7px;
  border-radius: 7px;
  margin: 0.1em 0.25em;
  display: inline-block;
}

.skills div.row {
  margin: 0.5em 0;
}

.skills div.row>div:first-child {
  text-align: right;
}

.skills div.vertical-middle {
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0;
  position: relative;
  top: 50%;
}

@media (max-width: 991px) {
  .skills div.row>div:first-child {
    text-align: left;
  }
}
