<section id="career" class="career">
  <div class="container">

    <div class="section-title">
      <h2>Professional Experience</h2>
    </div>

    <div class="row">
      <div class="col-lg-12" sxpAnimate [animateInAnimation]="downToUp" [animateOnce]="true">
        <div class="career-item">
          <h4>Senior Software Engineer</h4>
          <h5>Aug, 2021 - Dec, 2022</h5>
          <p><em><a href="https://scentbird.com" target="_blank">Scentbird</a>, New York, USA</em></p>
          <ul>
            <li>Develop new/old functionality for warehouse team.</li>
            <li>Recommended new IT-technologies for improve codebase and make microservices easier.</li>
            <li>I built new search engine with elasticsearch and debezium.</li>
            <li>I've migrate hardcoded functionality in Camunda engine from scratch.</li>
          </ul>
        </div>
        <div class="career-item">
          <h4>Software Architect/Team Leader</h4>
          <h5>Aug, 2012 - Aug, 2021</h5>
          <p><em><a href="https://soft-logic.ru/" target="_blank">Soft-Logic</a>, Barnaul, Russia</em></p>
          <ul>
            <li>Started as a developer in payment processing team.</li>
            <li>
              After 1-2 years i headed "SmartKeeper" project as a Team Leader/Architect.
              "SmartKeeper" is a software product that allows the customers(banks, networks of kiosks,
              payment service, etc) to implement their own e-wallet system within the existing payment
              system and significantly expand the features of the existing financial instruments.
            </li>
            <li>
              My team integrated "SmartKeeper" in <a href="https://www.rsb.ru/" target="_blank">Russian Standard Bank</a>,
              <a href="http://telepay.ru/" target="_blank">Telepay</a>,
              <a href="https://expresspay.az/" target="_blank">Expressbank</a>,
              <a href="https://smartpay.az/" target="_blank">SmartPay</a>,
              <a href="https://kassam.az/" target="_blank">Kassam</a>
              and other services(some of them were absorbed or stopped).
              We had up to 20 integrations in Russia, Azerbaijan, Tajikistan and other CIS countries.
            </li>
            <li>During integrations we were successfully completed <a href="https://en.wikipedia.org/wiki/Payment_Card_Industry_Data_Security_Standard" target="_blank">PCI DSS</a> audits.</li>
            <li>
              We are created "SmartKeeper" as universal platform that manages any virtual money in any system.
              For example we integrated "SmartKeeper" with mobile operator.
              So users can do payments from mobile balance directly.
              As experiment, we integrated "SmartKeeper" with cryptocurrencies.
              And yes, you can do payments with bitcoin/etherium and any other cryptocurrency in this platform.
              It was tested in testnet.
            </li>
            <li>We integrated about 20 custom bank payment protocols.</li>
            <li>I managed up to 8-10 people.</li>
            <li>I built CI/CD process with GitLab, Jenkins Pipeline and Ansible for our customers.</li>
            <li>
              Combining Team Leader and Architect positions i understood that i mostly like be an architect:
              improve codebase, research and apply new solutions.
            </li>
          </ul>
        </div>
        <div class="career-item">
          <h4>Software Development Engineer</h4>
          <h5>Aug, 2010 - Aug, 2012</h5>
          <p><em><a href="https://www.fxclub.org/" target="_blank">Forex Club</a>, Barnaul, Russia</em></p>
          <ul>
            <li>I was Fullstack Java Developer with frontend knowledge(HTML + CSS + JS).</li>
            <li>I was in "FxBank" team that developed personal area website for our customers.</li>
            <li>I received excellent team work experience with great colleagues.</li>
          </ul>
        </div>
        <div class="career-item">
          <h4>Software Engineer</h4>
          <h5>Dec, 2007 - Jul, 2010</h5>
          <p><em><a href="https://www.asu.ru/" target="_blank">Altai State University</a>, Barnaul, Russia</em></p>
          <ul>
            <li>I was working here while i was a student in Altai State University.</li>
            <li>
              I participated in "Contingent" project of Altai State University.
              Main idea of this project is complete record of students including marks, orders, education plans.
              So you can see full history by every student.<br>
              This project was written on <a href="https://www.oracle.com/cis/java/" target="_blank">Java</a> as
              desktop application(<a href="https://docs.oracle.com/javase/tutorial/uiswing/" target="_blank">Swing</a>)
              with <a href="https://javaee.github.io/glassfish/" target="_blank">GlassFish</a> application server,
              <a href="https://docs.oracle.com/javase/8/docs/technotes/guides/javaws/" target="_blank">Java web start</a> and
              <a href="https://www.oracle.com/cis/database/" target="_blank">Oracle DB</a>.<br>
              After 6 months i was a main developer in this project. In our team was up to 3 students including me.
            </li>
            <li>
              I participated in "Abiturient" project of Altai State University.
              This project was handed me by previous student.
              With it application all the entire admissions committee worked.
              Admissions officer created enrollee in this application during receiving documents for enrollment in
              Altai State University.
              So you can see all enrollees in this university and admissions officer can see enrollee rating
              and choose them for enrollment.<br>
              I was alone in this project as a software developer.
              I added some new features and resolved some mistakes.
              This project was built on same technologies as "Contingent" project:
              <a href="https://www.oracle.com/cis/java/" target="_blank">Java</a>,
              <a href="https://docs.oracle.com/javase/tutorial/uiswing/" target="_blank">Swing</a>,
              <a href="https://javaee.github.io/glassfish/" target="_blank">GlassFish</a>,
              <a href="https://docs.oracle.com/javase/8/docs/technotes/guides/javaws/" target="_blank">Java web start</a> and
              <a href="https://www.oracle.com/cis/database/" target="_blank">Oracle DB</a>.
            </li>
            <li>
              Another project for tax service to sign and exchange documents with same technologies:
              <a href="https://www.oracle.com/cis/java/" target="_blank">Java</a>,
              <a href="https://docs.oracle.com/javase/tutorial/uiswing/" target="_blank">Swing</a>,
              <a href="https://javaee.github.io/glassfish/" target="_blank">GlassFish</a>,
              <a href="https://docs.oracle.com/javase/8/docs/technotes/guides/javaws/" target="_blank">Java web start</a> and
              <a href="https://www.oracle.com/cis/database/" target="_blank">Oracle DB</a>.
            </li>
            <li>
              I took a part for <a href="https://aviaflot.ru/" target="_blank">"Aviaflot"</a> touristic company.
              Main idea of this project was to replace old booking system that was working on
              <a href="https://en.wikipedia.org/wiki/DOS" target="_blank">DOS</a> by new modern website that books tickets in GDS as old system.<br>
              I did integrate with
              <a href="https://en.wikipedia.org/wiki/Global_distribution_system" target="_blank">GDS</a>: Amadeus, Galileo and Sabre.
              In our team was 3 students including me. We used <a href="https://en.wikipedia.org/wiki/PHP" target="_blank">PHP</a> and
              <a href="https://en.wikipedia.org/wiki/Qt_(software)" target="_blank">Qt</a>.
            </li>
          </ul>
        </div>
        <div class="career-item">
          <h4>Computer class administrator</h4>
          <h5>Sep, 2006 - Nov, 2007</h5>
          <p><em><a href="https://www.asu.ru/" target="_blank">Altai State University</a>, Barnaul, Russia</em></p>
          <ul>
            <li>I was a computer class administrator in Altai State University.</li>
            <li>I received base knowledge in Windows/Unix, LDAP, computer management, computer networks.</li>
          </ul>
          </div>
      </div>
    </div>
  </div>
</section>
